<form method="POST" action="/sessions">
Username: <br />
<input type="text" name="sessions[username]"><Br /><Br />

Password: <br />
<input type="password" name="sessions[password]"><br /><Br />

<input type="submit">
</form>